.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  color: white;
}

.mySlides img{width: 100%}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.w3-third img{
  width: 100%;
}

.w3-black, .w3-hover-black:hover {
    color: #424242!important;
    background-color: #f5f5f5!important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.mySlides{
width: 100%;
height: 500px;
float: left;
background-image: url(slider.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}

.slier_content{
    height: 100%;
    background: rgba(0,0,0,0.4);
    width: 100%;
}

.slier_content h3{
  padding-top: 200px;
  font-size: 32px;
  font-weight: 700;
}

.service_block {
    text-align: center;
    float: left;
    width: 50%;
}

.service_block .w3-white{
  padding: 15px;
      height: 249px;
}

.service_block img{
    text-align: center;
    width: 41px;
    height: 48px;
}

div#about {
    width: 100%;
    float: left;
    background-color: #fff !important;
}

div#services {
    width: 100%;
    float: left;
    padding-top:40px;
}

footer.App-Footer {
    width: 100%;
    float: left;
    text-align: center;
}

.popup{
  position:fixed;
  height: 100%;
  background: rgba(0,0,0,0.5);
  color: #fff;
  width: 100%;
  top: 0;
left: 0;
z-index: 99
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button.cancel{
  background: #000;
}

.form button.cancel:hover{
  background: #ccc;
}

.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.faq_container {
    width: 100%;
    float: left;
    background: #fff;
    padding: 15px;
    margin-bottom: 21px;
}

.faq_container dd {
    margin: 0;
    font-size: 12px;
}
